.login-form {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 3px solid #40a9ff73;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.login-error-alert {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
}
